<a href="https://colab.research.google.com/github/dheephiga/usa-dataset/blob/main/Your_housely.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf
import sklearn as skl

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/dheephiga/usa-dataset/main/train.csv")

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39499 entries, 0 to 39498
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Property_ID             39499 non-null  object
 1   Property_Type           39499 non-null  object
 2   Property_Area           39499 non-null  int64
 3   Number_of_Windows       37845 non-null  float64
 4   Number_of_Doors         39499 non-null  int64
 5   Furnishing              38457 non-null  object
 6   Frequency_of_Powercuts  38116 non-null  float64
 7   Power_Backup            39499 non-null  object
 8   Water_Supply            39499 non-null  object
 9   Traffic_Density_Score   39499 non-null  float64
 10  Crime_Rate              38712 non-null  object
 11  Dust_and_Noise          38280 non-null  object
 12  Air_Quality_Index       39499 non-null  float64
 13  Neighborhood_Review     39499 non-null  float64
 14  Habitability_score      39499 non-null  float64
dtypes: float64(6), int64(2), object(7)
memory usage: 4.5+ MB

In [ ]:
data.head()

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review,Habitability_score
0,0x21e3,Apartment,106,NaN,1,Semi_Furnished,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,90.0,3.86,71.98
1,0x68d4,Apartment,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55,71.20
2,0x7d81,Apartment,737,4.0,2,Fully Furnished,0.0,No,Once in a day - Morning,7.45,Slightly below average,Medium,121.0,3.81,71.39
3,0x7a57,Apartment,900,3.0,2,Unfurnished,2.0,Yes,Once in a day - Morning,6.16,Well above average,Medium,100.0,1.34,31.46
4,0x9409,Bungalow,2238,14.0,6,Fully Furnished,0.0,No,All time,5.46,Well below average,Medium,116.0,4.77,93.70

In [ ]:
data.describe()

,Property_Area,Number_of_Windows,Number_of_Doors,Frequency_of_Powercuts,Traffic_Density_Score,Air_Quality_Index,Neighborhood_Review,Habitability_score
count,39499.000000,37845.000000,39499.000000,38116.000000,39499.000000,39499.000000,39499.000000,39499.000000
mean,1391.715638,3.923768,2.331375,0.484678,6.354772,121.352566,3.735945,73.482297
std,1953.287544,2.690992,1.179964,0.752207,1.219681,62.384669,0.796843,14.118753
min,100.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,7.280000
25%,494.000000,2.000000,1.000000,0.000000,5.600000,95.000000,3.220000,69.660000
50%,932.000000,4.000000,2.000000,0.000000,6.470000,113.000000,3.850000,75.760000
75%,1770.000000,5.000000,3.000000,1.000000,7.220000,140.000000,4.260000,82.260000
max,28064.000000,15.000000,6.000000,3.000000,9.910000,1044.000000,5.000000,100.000000

In [ ]:
data.isnull().sum()

Property_ID                  0
Property_Type                0
Property_Area                0
Number_of_Windows         1654
Number_of_Doors              0
Furnishing                1042
Frequency_of_Powercuts    1383
Power_Backup                 0
Water_Supply                 0
Traffic_Density_Score        0
Crime_Rate                 787
Dust_and_Noise            1219
Air_Quality_Index            0
Neighborhood_Review          0
Habitability_score           0
dtype: int64

In [ ]:
data["Number_of_Windows"].fillna(0, inplace = True)
data.isnull().sum()

Property_ID                  0
Property_Type                0
Property_Area                0
Number_of_Windows            0
Number_of_Doors              0
Furnishing                1042
Frequency_of_Powercuts    1383
Power_Backup                 0
Water_Supply                 0
Traffic_Density_Score        0
Crime_Rate                 787
Dust_and_Noise            1219
Air_Quality_Index            0
Neighborhood_Review          0
Habitability_score           0
dtype: int64

In [ ]:
data["Furnishing"].fillna("No data", inplace = True)
data.isnull().sum()

Property_ID                  0
Property_Type                0
Property_Area                0
Number_of_Windows            0
Number_of_Doors              0
Furnishing                   0
Frequency_of_Powercuts    1383
Power_Backup                 0
Water_Supply                 0
Traffic_Density_Score        0
Crime_Rate                 787
Dust_and_Noise            1219
Air_Quality_Index            0
Neighborhood_Review          0
Habitability_score           0
dtype: int64

In [ ]:
data["Frequency_of_Powercuts"].fillna("No data", inplace = True)
data["Crime_Rate"].fillna("No data", inplace = True)
data["Dust_and_Noise"].fillna("No data", inplace = True)
data.isnull().sum()

Property_ID               0
Property_Type             0
Property_Area             0
Number_of_Windows         0
Number_of_Doors           0
Furnishing                0
Frequency_of_Powercuts    0
Power_Backup              0
Water_Supply              0
Traffic_Density_Score     0
Crime_Rate                0
Dust_and_Noise            0
Air_Quality_Index         0
Neighborhood_Review       0
Habitability_score        0
dtype: int64

In [ ]:
data.shape

(39499, 15)

In [ ]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(handle_unknown = 'ignore')

In [ ]:
encoder_data = pd.DataFrame(encoder.fit_transform(data[['Furnishing']]).toarray())

In [ ]:
final_d = data.join(encoder_data)
print(final_d)

      Property_ID       Property_Type  Property_Area  Number_of_Windows  \
0          0x21e3           Apartment            106                0.0
1          0x68d4           Apartment            733                2.0
2          0x7d81           Apartment            737                4.0
3          0x7a57           Apartment            900                3.0
4          0x9409            Bungalow           2238               14.0
...           ...                 ...            ...                ...
39494      0x6e26  Single-family home           1120                3.0
39495      0xa013           Apartment            445                1.0
39496      0x9721            Bungalow           3780                6.0
39497      0x7e25  Single-family home           1266                3.0
39498      0x8cb4  Single-family home           1229                2.0

       Number_of_Doors       Furnishing Frequency_of_Powercuts Power_Backup  \
0                    1   Semi_Furnished                    0.0           No
1                    2      Unfurnished                    1.0           No
2                    2  Fully Furnished                    0.0           No
3                    2      Unfurnished                    2.0          Yes
4                    6  Fully Furnished                    0.0           No
...                ...              ...                    ...          ...
39494                2          No data                    0.0           No
39495                3  Fully Furnished                    1.0           No
39496                6      Unfurnished                    0.0          Yes
39497                1   Semi_Furnished                    0.0           No
39498                4  Fully Furnished                    0.0           No

                  Water_Supply  Traffic_Density_Score              Crime_Rate  \
0      Once in a day - Morning                   5.89  Slightly below average
1      Once in a day - Evening                   4.37      Well below average
2      Once in a day - Morning                   7.45  Slightly below average
3      Once in a day - Morning                   6.16      Well above average
4                     All time                   5.46      Well below average
...                        ...                    ...                     ...
39494                 All time                   5.55  Slightly above average
39495                 All time                   5.70  Slightly above average
39496         Once in two days                   6.84      Well below average
39497  Once in a day - Morning                   4.60  Slightly above average
39498                 All time                   8.29      Well below average

      Dust_and_Noise  Air_Quality_Index  Neighborhood_Review  \
0             Medium               90.0                 3.86
1             Medium               96.0                 3.55
2             Medium              121.0                 3.81
3             Medium              100.0                 1.34
4             Medium              116.0                 4.77
...              ...                ...                  ...
39494         Medium               80.0                 3.56
39495         Medium               86.0                 2.93
39496         Medium              137.0                 3.80
39497        No data               88.0                 3.25
39498           High              132.0                 4.67

       Habitability_score    0    1    2    3
0                   71.98  0.0  0.0  1.0  0.0
1                   71.20  0.0  0.0  0.0  1.0
2                   71.39  1.0  0.0  0.0  0.0
3                   31.46  0.0  0.0  0.0  1.0
4                   93.70  1.0  0.0  0.0  0.0
...                   ...  ...  ...  ...  ...
39494               73.43  0.0  1.0  0.0  0.0
39495               79.91  1.0  0.0  0.0  0.0
39496               81.44  0.0  0.0  0.0  1.0
39497               71.33  0.0  0.0  1.0  0.0
39498               83.25  1.0  0.0  0.0  0.0

[39499 rows x 19 columns]

In [ ]:
from pandas.core.groupby.grouper import final
final_d.drop('Furnishing', axis = 1, inplace = True)
print(final_d)

      Property_ID       Property_Type  Property_Area  Number_of_Windows  \
0          0x21e3           Apartment            106                0.0
1          0x68d4           Apartment            733                2.0
2          0x7d81           Apartment            737                4.0
3          0x7a57           Apartment            900                3.0
4          0x9409            Bungalow           2238               14.0
...           ...                 ...            ...                ...
39494      0x6e26  Single-family home           1120                3.0
39495      0xa013           Apartment            445                1.0
39496      0x9721            Bungalow           3780                6.0
39497      0x7e25  Single-family home           1266                3.0
39498      0x8cb4  Single-family home           1229                2.0

       Number_of_Doors Frequency_of_Powercuts Power_Backup  \
0                    1                    0.0           No
1                    2                    1.0           No
2                    2                    0.0           No
3                    2                    2.0          Yes
4                    6                    0.0           No
...                ...                    ...          ...
39494                2                    0.0           No
39495                3                    1.0           No
39496                6                    0.0          Yes
39497                1                    0.0           No
39498                4                    0.0           No

                  Water_Supply  Traffic_Density_Score              Crime_Rate  \
0      Once in a day - Morning                   5.89  Slightly below average
1      Once in a day - Evening                   4.37      Well below average
2      Once in a day - Morning                   7.45  Slightly below average
3      Once in a day - Morning                   6.16      Well above average
4                     All time                   5.46      Well below average
...                        ...                    ...                     ...
39494                 All time                   5.55  Slightly above average
39495                 All time                   5.70  Slightly above average
39496         Once in two days                   6.84      Well below average
39497  Once in a day - Morning                   4.60  Slightly above average
39498                 All time                   8.29      Well below average

      Dust_and_Noise  Air_Quality_Index  Neighborhood_Review  \
0             Medium               90.0                 3.86
1             Medium               96.0                 3.55
2             Medium              121.0                 3.81
3             Medium              100.0                 1.34
4             Medium              116.0                 4.77
...              ...                ...                  ...
39494         Medium               80.0                 3.56
39495         Medium               86.0                 2.93
39496         Medium              137.0                 3.80
39497        No data               88.0                 3.25
39498           High              132.0                 4.67

       Habitability_score    0    1    2    3
0                   71.98  0.0  0.0  1.0  0.0
1                   71.20  0.0  0.0  0.0  1.0
2                   71.39  1.0  0.0  0.0  0.0
3                   31.46  0.0  0.0  0.0  1.0
4                   93.70  1.0  0.0  0.0  0.0
...                   ...  ...  ...  ...  ...
39494               73.43  0.0  1.0  0.0  0.0
39495               79.91  1.0  0.0  0.0  0.0
39496               81.44  0.0  0.0  0.0  1.0
39497               71.33  0.0  0.0  1.0  0.0
39498               83.25  1.0  0.0  0.0  0.0

[39499 rows x 18 columns]

In [ ]:
final_d.head()

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review,Habitability_score,0,1,2,3
0,0x21e3,Apartment,106,0.0,1,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,90.0,3.86,71.98,0.0,0.0,1.0,0.0
1,0x68d4,Apartment,733,2.0,2,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55,71.20,0.0,0.0,0.0,1.0
2,0x7d81,Apartment,737,4.0,2,0.0,No,Once in a day - Morning,7.45,Slightly below average,Medium,121.0,3.81,71.39,1.0,0.0,0.0,0.0
3,0x7a57,Apartment,900,3.0,2,2.0,Yes,Once in a day - Morning,6.16,Well above average,Medium,100.0,1.34,31.46,0.0,0.0,0.0,1.0
4,0x9409,Bungalow,2238,14.0,6,0.0,No,All time,5.46,Well below average,Medium,116.0,4.77,93.70,1.0,0.0,0.0,0.0